/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/blocks/page.css ***!
  \*********************************************************************************************************************************************/
.page__main-container {
    max-width: 1416px;
    margin: 60px auto 0;
    padding: 0;
}

@media screen and (max-width: 1512px) {
    .page__main-container {
        max-width: 708px;
    }
}

@media screen and (max-width: 768px) {
    .page__main-container {
        max-width: 288px;
        margin: 30px auto 0;
    }
}
/*!***********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/blocks/header.css ***!
  \***********************************************************************************************************************************************/
.header {
    margin: 0 auto;
    max-width: 1416px;
    align-items: center;
    padding: 18px 0 0;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 222px;
    height: 103px;
    margin: 0;
    padding: 0;
}

.header__form {
    width: 575px;
    height: 60px;
    margin: 0 180px 0 0;
    box-sizing: border-box;
    border-radius: 57.59px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    align-items: center;
}

.header__form-button {
    background-image: url(images/%D0%B7%D0%BD%D0%B0%D1%87%D0%BE%D0%BA%D0%BF%D0%BE%D0%B8%D1%81%D0%BA%D0%B0.svg);
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.header__form-input {
    max-width: 473px;
    border: none;
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.header__button {
    width: 190px;
    height: 60px;
    border-radius: 30px;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
}

.header__button_type_yellow {
    border: none;
    background-color: #FDD446;
}

.header__button-burger {
    width: 30px;
    height: 12px;
    border: none;
    display: none;
    background-image: url(images/%D0%B1%D1%83%D1%80%D0%B3%D0%B5%D1%80.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (max-width: 1512px) {
    .header {
        max-width: 708px;
    }

    .header__logo {
        width: 128px;
        height: 59px;
    }

    .header__form {
        width: 264px;
        height: 40px;
        margin: 0 4px 0 2px;
    }

    .header__form-button {
        width: 18px;
        height: 18px;
    }

    .header__form-input {
        max-width: 200px;
        font-size: 18px;
    }

    .header__button {
        width: 140px;
        height: 40px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 288px;
        padding: 10px 0 0;
    }

    .header__logo {
        width: 136px;
        height: 65px;
    }

    .header__form {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__button-burger {
        display: block;
    }
}
/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/blocks/search-container.css ***!
  \*********************************************************************************************************************************************************/
.search-container {
    margin: 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container__filters {
    width: 216px;
    height: 40px;
    padding: 0;
}

.search-container__filters-button {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
}

.search-container__filters-title {
    color: #000000;
    padding: 0;
    margin: 59px 0 0;
    display: inline-block;
    max-width: 120px;
    text-align: start;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.search-container__filters-title:first-of-type {
    margin: 0;
}

.search-container__filters-form-button {
    height: 53px;
    width: 265px;
    border-radius: 20px;
    background-color: #FDD446;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border: none;
    padding: 0;
    margin: 107px 0 0;
}

.search-container__form {
    width: 814px;
    margin: 0;
    height: 60px;
    box-sizing: border-box;
    border-radius: 57.59px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    align-items: center;
}

.search-container__form-button {
    background-image: url(images/%D0%B7%D0%BD%D0%B0%D1%87%D0%BE%D0%BA%D0%BF%D0%BE%D0%B8%D1%81%D0%BA%D0%B0.svg);
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.search-container__form-input {
    max-width: 714px;
    border: none;
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.search-container__sorting {
    width: 335px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.search-container__sorting-button {
    display: block;
    padding: 0 0 0 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: #000000;
    border-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    line-height: 24px;
    text-align: start;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    appearance: none;
}

.rangeValues{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    width: 100%;
}

.rangeValue {
    width: 99px;
    height: 34px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    text-align: start;
}

.delimiter {
    background-image: url("images/Line%2060.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
}

div.range-slider {
    position: relative;
    width: 310px;
    height: 64px;
    text-align: center;
  }
  div.range-slider input[type=range] {
    position: absolute;
    -webkit-appearance: none;
    border: none;
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    left: 0;
    top: 30px;
    width: 315px;
    outline: none;
    height: 1.5px;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  div.range-slider input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    overflow: visible;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 16px;
    height: 20px;
    border: none;
    background-image: url(images/Polygon-left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  div.range-slider input[type=range]:nth-of-type(2)::-webkit-slider-thumb{
    background-image: url(images/Polygon-right.png);
  }

  
@media screen and (max-width: 1512px) {

    .search-container__filters {
        width: 155px;
        height: 30px;
    }

    .search-container__filters-button {
        font-size: 18px;
    }

    .search-container__filters-title {
        max-width: 100px;
        font-size: 18px;
    }

    .search-container__form {
        width: 326px;
        height: 40px;
    }

    .search-container__form-button {
        width: 18px;
        height: 18px;
    }

    .search-container__form-input {
        max-width: 270px;
        font-size: 18px;
    }

    .search-container__sorting {
        width: 207px;
        height: 30px;
    }

    .search-container__sorting-button {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .search-container {
        margin: 30px 0 0;
    }

    .search-container__filters {
        width: 118px;
        margin: 18px 0 0;
    }

    .search-container__filters-button {
        font-size: 16px;
    }

    .search-container__filters-title {
        max-width: 90px;
        font-size: 16px;
    }

    .search-container__form {
        order: -1;
        width: 288px;
        border-radius: 30px;
    }

    .search-container__form-input {
        max-width: 230px;
        line-height: 21px;
    }

    .search-container__sorting {
        width: 163px;
        margin: 18px 0 0;
    }

    .search-container__sorting-button {
        font-size: 16px;
    }
}
/*!*************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/blocks/elements.css ***!
  \*************************************************************************************************************************************************/
.elements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 312px);
    gap: 50px 56px;
    padding: 0;
    list-style: none;
    margin: 40px 0 0;
}

@media screen and (max-width: 1512px) {
    .elements {
        grid-template-columns: repeat(3, 216px);
        gap: 30px;
        margin: 35px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .elements {
        grid-template-columns: repeat(2, 136px);
        gap: 20px 16px;
        margin: 20px 0 0;
    }
}
/*!************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/blocks/element.css ***!
  \************************************************************************************************************************************************/
.element {
    width: 100%;
    height: 630px;
    align-items: center;
    border-radius: 0px;
    border: 0.7px solid rgba(48, 47, 46, 0.7);
    margin: 0;
    padding: 0;
}

.element__photo {
    width: 288px;
    height: 321px;
    border-radius: 0px;
    margin: 12px 0 0;
}

.element__body {
    width: 288px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.element__title {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin: 0;
}

.element__about-star {
    width: 100%;
    height: 70px;
    margin: 0 0 14px;
}

.element__about-star_type_photo {
    width: 70px;
    height: 70px;
}

.element__about-star_type_info {
    margin: 0px 0px 0px 8px;
    width: 210px;
}

.element__about-star_type_name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 0;
    width: 210px;
}

.element__about-star_type_verification {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 153, 0, 1);
    margin: 0;
    max-width: 90px;
}

.element__about-star_type_icon {
    width: 20px;
    height: 20px;
    margin: 0 0 0 6px;
}

.element__feature {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 9px;
}

.element__feature-property {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    max-width: 100px;
}

.element__feature-value {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 193, 7, 1);
    border-image-slice: 1;
    text-align: center;
    align-items: center;
}

.element__feature-value_yellow {
    background-color: #FDD446;
    width: 110px;
    border: none;
}

.element__button {
    width: 265px;
    height: 53px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 1);
    border: none;
    align-items: center;
    background: linear-gradient(90deg, #FDD446 0%, #F79B47 100%);
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin: 0 auto;
}

@media screen and (max-width: 1512px) {
    .element {
        height: 436px;
    }
    
    .element__photo {
        width: 199px;
        height: 222px;
        margin: 8px 0 0;
    }
    
    .element__body {
        width: 200px;
    }
    
    .element__title {
        font-size: 14px;
        line-height: 35px;
    }
    
    .element__about-star {
        width: 100%;
        height: 48px;
        margin: 0 0 8px;
    }
    
    .element__about-star_type_photo {
        width: 48px;
        height: 48px;
    }
    
    .element__about-star_type_info {
        margin: 0px 0px 0px 6px;
        width: 145px;
    }
    
    .element__about-star_type_name {
        font-size: 14px;
        line-height: 17px;
        width: 145px;
    }
    
    .element__about-star_type_verification {
        font-size: 11px;
        line-height: 17px;
        max-width: 60px;
    }
    
    .element__about-star_type_icon {
        width: 14px;
        height: 14px;
        margin: 0 0 0 5px;
    }
    
    .element__feature {
        margin: 0 0 8px;
    }
    
    .element__feature-property {
        font-size: 14px;
        line-height: 25px;
        max-width: 80px;
    }
    
    .element__feature-value {
        font-size: 11px;
        line-height: 18px;
        width: 90px;
        height: 21px;
        border-radius: 7px;
    }
    
    .element__feature-value_yellow {
        width: 76px;
    }
    
    .element__button {
        width: 183px;
        height: 37px;
        border-radius: 15px;
        font-size: 17px;
        line-height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .element {
        height: 275px;
    }
    
    .element__photo {
        width: 125.54px;
        height: 140.12px;
        margin: 5.24px 0 0;
    }
    
    .element__body {
        width: 125.54px;
    }
    
    .element__about-star {
        height: 30.5px;
        margin: 0 0 4.8px;
    }

    .element__title {
        font-size: 10px;
        line-height: 22px;
    }
    
    .element__about-star_type_photo {
        width: 30.5px;
        height: 30.5px;
    }
    
    .element__about-star_type_info {
        margin: 0px 0px 0px 3.5px;
        width: 91.5px;
    }
    
    .element__about-star_type_name {
        font-size: 9px;
        line-height: 11px;
        width: 91.5px;
    }
    
    .element__about-star_type_verification {
        font-size: 7px;
        line-height: 11px;
        max-width: 40px;
    }
    
    .element__about-star_type_icon {
        width: 8.72px;
        height: 8.72px;
        margin: 0 0 0 2.23px;
    }
    
    .element__feature {
        margin: 0 0 3.64px;
    }
    
    .element__feature-property {
        font-size: 9px;
        line-height: 16px;
        max-width: 65px;
    }
    
    .element__feature-value {
        font-size: 7px;
        line-height: 8px;
        width: 56px;
        height: 13px;
        border-radius: 4.35px;
    }
    
    .element__feature-value_yellow {
        line-height: 13px;
        width: 47.95px;
    }
    
    .element__button {
        width: 115.51px;
        height: 23.13px;
        border-radius: 8px;
        font-size: 10px;
        line-height: 16px;
    }
}
/*!***********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/blocks/footer.css ***!
  \***********************************************************************************************************************************************/
.footer {
    background-color: #FDD446;
    min-height: 399px;
    width: 100%;
    position: relative;
}

.footer__nav {
    justify-content: space-between;
    max-width: 1416px;
    margin: 0 auto;
    padding: 37px 64px 44px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.footer__nav-info {
    padding: 0;
}

.footer__logo {
    width: 116px;
    margin: 0 0 14px;
}

.footer__nav-info-text {
    padding: 0;
    margin: 0 0 7px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.footer__list {
    display: flex;
    margin: 34px 0 0;
    justify-content: space-between;
    max-width: 85px;
}

.footer-social-ico {
    width: 30px;
}

.foot {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 570px);
}

.footer__title {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}

.footer__icons_visibility {
    display: none;
}

.footer__star {
    width: 128px;
    height: 138px;
    position: absolute;
    left: 45.44%;
    bottom: 3.5%;
    z-index: 1;
}

.footer__copyright {
    max-width: 1416px;
    text-align: end;
    margin: 20px auto 0;
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1512px) {
    .footer {
        min-height: 310px;
    }

    .footer__nav {
        max-width: 708px;
        margin: 0 auto;
        padding: 25px 19px 20px;
    }

    .footer__nav-info {
        display: none;
    }

    .foot {
        width: 100%;
    }

    .footer__column {
        max-width: 210px;
    }

    .footer__column:first-of-type {
        max-width: 130px;
    }

    .footer__column:nth-of-type(2) {
        max-width: 170px;
    }

    .footer__title {
        line-height: 29px;
    }

    .footer__icons_visibility {
        display: flex;
    }

    .footer__list {
        margin: 10px 0 0;
        max-width: 50px;
    }

    .footer-social-ico {
        width: 20px;
    }

    .footer__star {
        width: 66px;
        height: 61px;
        position: absolute;
        left: 47.44%;
        bottom: 21.8%;
        z-index: 1;
    }

    .footer__copyright {
        max-width: 708;
        text-align: center;
        margin: 48px auto 0;
        line-height: 21px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        min-height: 229px;
    }

    .footer__nav {
        max-width: 288px;
        padding: 30px 0 0;
        border-bottom: none;
    }

    .footer__nav-info-text {
        margin: 0 0 3px;
        font-size: 14px;
    }

    .footer__icons_visibility {
        display: none;
    }

    .foot {
        flex-direction: column;
    }

    .footer__title {
        display: none;
    }

    .footer__star {
        width: 49px;
        height: 44px;
        left: 60.44%;
        bottom: 67.25%;
    }

    .footer__column {
        max-width: 240px;
    }

    .footer__column:first-of-type {
        max-width: 217px;
    }

    .footer__column:nth-of-type(2) {
        max-width: 217px;
    }

    .footer__copyright {
        display: none;
    }
}
/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js!./src/index.css ***!
  \***************************************************************************************************************************************/


