.element {
    width: 100%;
    height: 630px;
    align-items: center;
    border-radius: 0px;
    border: 0.7px solid rgba(48, 47, 46, 0.7);
    margin: 0;
    padding: 0;
}

.element__photo {
    width: 288px;
    height: 321px;
    border-radius: 0px;
    margin: 12px 0 0;
}

.element__body {
    width: 288px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.element__title {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin: 0;
}

.element__about-star {
    width: 100%;
    height: 70px;
    margin: 0 0 14px;
}

.element__about-star_type_photo {
    width: 70px;
    height: 70px;
}

.element__about-star_type_info {
    margin: 0px 0px 0px 8px;
    width: 210px;
}

.element__about-star_type_name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin: 0;
    width: 210px;
}

.element__about-star_type_verification {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 153, 0, 1);
    margin: 0;
    max-width: 90px;
}

.element__about-star_type_icon {
    width: 20px;
    height: 20px;
    margin: 0 0 0 6px;
}

.element__feature {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 9px;
}

.element__feature-property {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    max-width: 100px;
}

.element__feature-value {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 193, 7, 1);
    border-image-slice: 1;
    text-align: center;
    align-items: center;
}

.element__feature-value_yellow {
    background-color: #FDD446;
    width: 110px;
    border: none;
}

.element__button {
    width: 265px;
    height: 53px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 1);
    border: none;
    align-items: center;
    background: linear-gradient(90deg, #FDD446 0%, #F79B47 100%);
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin: 0 auto;
}

@media screen and (max-width: 1512px) {
    .element {
        height: 436px;
    }
    
    .element__photo {
        width: 199px;
        height: 222px;
        margin: 8px 0 0;
    }
    
    .element__body {
        width: 200px;
    }
    
    .element__title {
        font-size: 14px;
        line-height: 35px;
    }
    
    .element__about-star {
        width: 100%;
        height: 48px;
        margin: 0 0 8px;
    }
    
    .element__about-star_type_photo {
        width: 48px;
        height: 48px;
    }
    
    .element__about-star_type_info {
        margin: 0px 0px 0px 6px;
        width: 145px;
    }
    
    .element__about-star_type_name {
        font-size: 14px;
        line-height: 17px;
        width: 145px;
    }
    
    .element__about-star_type_verification {
        font-size: 11px;
        line-height: 17px;
        max-width: 60px;
    }
    
    .element__about-star_type_icon {
        width: 14px;
        height: 14px;
        margin: 0 0 0 5px;
    }
    
    .element__feature {
        margin: 0 0 8px;
    }
    
    .element__feature-property {
        font-size: 14px;
        line-height: 25px;
        max-width: 80px;
    }
    
    .element__feature-value {
        font-size: 11px;
        line-height: 18px;
        width: 90px;
        height: 21px;
        border-radius: 7px;
    }
    
    .element__feature-value_yellow {
        width: 76px;
    }
    
    .element__button {
        width: 183px;
        height: 37px;
        border-radius: 15px;
        font-size: 17px;
        line-height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .element {
        height: 275px;
    }
    
    .element__photo {
        width: 125.54px;
        height: 140.12px;
        margin: 5.24px 0 0;
    }
    
    .element__body {
        width: 125.54px;
    }
    
    .element__about-star {
        height: 30.5px;
        margin: 0 0 4.8px;
    }

    .element__title {
        font-size: 10px;
        line-height: 22px;
    }
    
    .element__about-star_type_photo {
        width: 30.5px;
        height: 30.5px;
    }
    
    .element__about-star_type_info {
        margin: 0px 0px 0px 3.5px;
        width: 91.5px;
    }
    
    .element__about-star_type_name {
        font-size: 9px;
        line-height: 11px;
        width: 91.5px;
    }
    
    .element__about-star_type_verification {
        font-size: 7px;
        line-height: 11px;
        max-width: 40px;
    }
    
    .element__about-star_type_icon {
        width: 8.72px;
        height: 8.72px;
        margin: 0 0 0 2.23px;
    }
    
    .element__feature {
        margin: 0 0 3.64px;
    }
    
    .element__feature-property {
        font-size: 9px;
        line-height: 16px;
        max-width: 65px;
    }
    
    .element__feature-value {
        font-size: 7px;
        line-height: 8px;
        width: 56px;
        height: 13px;
        border-radius: 4.35px;
    }
    
    .element__feature-value_yellow {
        line-height: 13px;
        width: 47.95px;
    }
    
    .element__button {
        width: 115.51px;
        height: 23.13px;
        border-radius: 8px;
        font-size: 10px;
        line-height: 16px;
    }
}