.elements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 312px);
    gap: 50px 56px;
    padding: 0;
    list-style: none;
    margin: 40px 0 0;
}

@media screen and (max-width: 1512px) {
    .elements {
        grid-template-columns: repeat(3, 216px);
        gap: 30px;
        margin: 35px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .elements {
        grid-template-columns: repeat(2, 136px);
        gap: 20px 16px;
        margin: 20px 0 0;
    }
}