.search-container {
    margin: 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container__filters {
    width: 216px;
    height: 40px;
    padding: 0;
}

.search-container__filters-button {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
}

.search-container__filters-title {
    color: #000000;
    padding: 0;
    margin: 0;
    display: inline-block;
    max-width: 120px;
    text-align: start;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.search-container__form {
    width: 814px;
    margin: 0;
    height: 60px;
    box-sizing: border-box;
    border-radius: 57.59px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    align-items: center;
}

.search-container__form-button {
    background-image: url(../Images/значокпоиска.svg);
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.search-container__form-input {
    max-width: 714px;
    border: none;
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.search-container__sorting {
    width: 335px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.search-container__sorting-button {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: rgba(253, 212, 70, 1);
    border-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    line-height: 24px;
}

.search-container__sorting-title {
    color: #000000;
    padding: 0;
    margin: 0;
    display: inline-block;
    max-width: 250px;
    text-align: start;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

@media screen and (max-width: 1512px) {
 
    .search-container__filters {
        width: 155px;
        height: 30px;
    }
    
    .search-container__filters-button {
        font-size: 18px;
    }
    
    .search-container__filters-title {
        max-width: 100px;
        font-size: 18px;
    }
    
    .search-container__form {
        width: 326px;
        height: 40px;
    }
    
    .search-container__form-button {
        width: 18px;
        height: 18px;
    }
    
    .search-container__form-input {
        max-width: 270px;
        font-size: 18px;
    }
    
    .search-container__sorting {
        width: 207px;
        height: 30px;
    }
    
    .search-container__sorting-button {
        font-size: 18px;
    }
    
    .search-container__sorting-title {
        max-width: 170px;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .search-container {
        margin: 30px 0 0;
    }
    
    .search-container__filters {
        width: 118px;
        margin: 18px 0 0;
    }
    
    .search-container__filters-button {
        font-size: 16px;
    }
    
    .search-container__filters-title {
        max-width: 90px;
        font-size: 16px;
    }
    
    .search-container__form {
        order: -1;
        width: 288px;
        border-radius: 30px;
    }
    
    .search-container__form-input {
        max-width: 230px;
        line-height: 21px;
    }
    
    .search-container__sorting {
        width: 163px;
        margin: 18px 0 0;
    }
    
    .search-container__sorting-button {
        font-size: 16px;
    }
    
    .search-container__sorting-title {
        max-width: 130px;
        font-size: 16px;
    }
}